.bundle
db/*.sqlite3
log/*.log
tmp/**/*
log/*.pid
log/*.output
config/database.yml
config/initializers/local_config.rb
test
.DS_Store
**/.DS_Store
**/**/.DS_Store
**/**/**/.DS_Store
**/**/**/**/.DS_Store
public/system/**/*
public/system
public/sitemap.xml

