body {
  background: #6c6c6c url(../images/background.jpg) no-repeat; }

a {
  color: #56396f; }

input[type="text"], input[type="password"] {
  background-color: #DDDDDD;
  border: none; }

label {
  color: #666; }

hr {
  color: #999;
  background-color: #999; }

.container.quackbaq {
  padding-bottom: 120px;
  position: relative; }

#flash_notice {
  width: 100%;
  text-align: center;
  background-color: #222222;
  color: #DDDDDD; }

.top_nav {
  height: 180px;
  width: 100%; }

.top_logo {
  position: absolute;
  top: -165px;
  left: 0; }

.top_right_nav {
  height: 100%;
  width: auto;
  margin-left: 492px; }

#footer {
  position: fixed;
  bottom: 0;
  background: url(../images/footerBackground.jpg);
  background-repeat: repeat-x;
  height: 46px;
  width: 100%;
  color: white;
  font-size: 14px; }
  #footer .container {
    margin-top: 10px; }
    #footer .container div.text_links {
      margin-top: 4px; }
  #footer a {
    color: white; }

.steelfish {
  font-family: SteelfishRg-Regular; }

.big_font {
  font-family: SteelfishRg-Regular; }

#sign_up_box {
  position: relative;
  background: url(../images/loginTopBox.png);
  height: 57px;
  width: 846px;
  padding: 30px 35px;
  margin-bottom: 12px; }
  #sign_up_box .section_heading {
    position: relative;
    float: left;
    width: 182px;
    margin: 8px 0;
    color: white;
    font-size: 36px; }
  #sign_up_box #sign_up_button {
    position: absolute;
    bottom: 30px;
    right: 35px; }

#sign_in_pitch {
  position: relative;
  float: left;
  width: 645px;
  height: 65px;
  padding-left: 18px;
  border-left: 1px solid white;
  color: white;
  font-size: 14px; }

#category_list .section_heading {
  position: relative;
  float: left;
  width: 100%;
  color: #F8782B;
  font-size: 24px; }

.horizontal_tiles {
  position: relative;
  float: left;
  margin-bottom: 20px; }

.category_list_item {
  position: relative;
  float: left;
  width: 76px;
  padding: 0 10px; }

.category_image {
  position: relative;
  float: left;
  width: 70px;
  height: 70px;
  border: 3px solid #F4F4F4; }

.category_list_item:active .category_name, .category_list_item:hover .category_name, .category_list_item.selected .category_name {
  color: #F18B3E; }
.category_list_item:active .category_image, .category_list_item:hover .category_image, .category_list_item.selected .category_image {
  border: 3px solid #DDD; }
.category_list_item:active .category_image_inner, .category_list_item:hover .category_image_inner, .category_list_item.selected .category_image_inner {
  position: relative;
  float: left;
  border: 2px solid white;
  width: 66px;
  height: 66px;
  overflow: hidden; }
  .category_list_item:active .category_image_inner img, .category_list_item:hover .category_image_inner img, .category_list_item.selected .category_image_inner img {
    margin-left: -2px;
    margin-top: -2px; }

.category_name {
  position: relative;
  width: 76px;
  text-align: center;
  color: #666;
  font-weight: bold; }

.button_left {
  position: relative;
  float: left;
  width: 8px;
  height: 28px;
  background: url(../images/buttonLeft.png); }

.button_middle {
  position: relative;
  float: left;
  height: 28px;
  padding: 0 10px;
  background: url(../images/buttonMiddle.png);
  background-repeat: repeat-x;
  color: white;
  text-shadow: 0 0 5px #b7541b;
  font-size: 22px;
  cursor: pointer;
  line-height: 28px; }
  .button_middle a {
    display: block;
    position: relative;
    top: 0;
    color: white;
    text-decoration: none;
    text-shadow: 0 0 5px #b7541b;
    font-size: 22px;
    padding: 0;
    margin: 0; }

button.button_middle {
  border: none;
  margin: 0;
  font-size: 22px;
  text-shadow: 0 0 5px #b7541b;
  color: white; }

.button_right {
  position: relative;
  float: left;
  width: 12px;
  height: 28px;
  background: url(../images/buttonRight.png); }

.form_box_top {
  position: relative;
  float: left;
  width: 916px;
  height: 17px;
  background: url(../images/grayBoxTop.png); }

.form_box_middle {
  position: relative;
  float: left;
  width: 846px;
  height: auto;
  padding: 0 35px;
  background: url(../images/grayBoxMiddle.png);
  background-repeat: repeat-y; }

.form_box_bottom {
  position: relative;
  float: left;
  width: 916px;
  height: 16px;
  background: url(../images/grayBoxBottom.png); }
