body {
  background: #6c6c6c url(../images/background.jpg) no-repeat; }

a {
  color: #56396f; }

input[type="text"], input[type="password"] {
  background-color: #DDDDDD;
  border: none; }

label {
  color: #666; }

hr {
  color: #999;
  background-color: #999; }

[onclick="void(0)"] {
  cursor: pointer; }

.container.quackbaq {
  margin-top: 50px;
  padding-bottom: 120px;
  position: relative; }

.container.nav {
  position: relative; }

#flash_notice {
  width: 100%;
  text-align: center;
  background-color: #222222;
  color: #DDDDDD; }

.top_nav {
  position: relative;
  float: left;
  height: 150px;
  width: 916px;
  margin-right: 34px; }

.top_logo {
  position: relative;
  float: left; }

.top_right_nav {
  position: relative;
  float: left;
  height: 100%;
  width: 569px; }

#footer {
  position: fixed;
  bottom: 0;
  background: url(../images/footerBackground.jpg);
  background-repeat: repeat-x;
  height: 46px;
  width: 100%;
  color: white;
  font-size: 14px; }
  #footer .container {
    margin-top: 10px; }
    #footer .container div.text_links {
      margin-top: 4px; }
  #footer a {
    color: white; }

.steelfish {
  font-family: SteelfishRg-Regular; }

.big_font {
  font-family: SteelfishRg-Regular; }

#credit_info {
  position: absolute;
  right: 0px;
  top: 45px; }
  #credit_info #credits_left {
    position: relative;
    float: left;
    padding: 1px 10px;
    background: white;
    height: 26px;
    color: #333;
    font-size: 12px;
    font-weight: bold; }
    #credit_info #credits_left #remaining_credits_amount {
      font-size: 16px;
      color: #56396f; }
  #credit_info #buy_credits_button {
    position: relative;
    float: left;
    margin-left: 5px; }

#top_nav {
  position: absolute;
  top: 100px;
  right: 0px; }
  #top_nav .top_nav_button {
    position: relative;
    float: left;
    padding: 0px 16px 2px;
    background-color: #56396f;
    height: 26px;
    font-family: SteelfishRg-Regular;
    font-size: 20px; }
    #top_nav .top_nav_button a {
      color: white;
      text-decoration: none; }
  #top_nav .top_nav_button.selected {
    background-color: white; }
    #top_nav .top_nav_button.selected a {
      color: #f8782b; }
  #top_nav .top_nav_divider {
    position: relative;
    float: left;
    width: 1px;
    height: 26px;
    background-color: white; }

#category_nav {
  position: relative;
  float: left;
  width: 916px;
  margin-right: 34px;
  z-index: 10; }

#sign_up_box {
  position: relative;
  float: left;
  background: url(../images/loginTopBox.png);
  height: 57px;
  width: 846px;
  padding: 30px 35px;
  margin-bottom: 4px; }
  #sign_up_box .section_heading {
    position: relative;
    float: left;
    width: 182px;
    margin: 8px 0;
    color: white;
    font-size: 36px; }
  #sign_up_box #sign_up_button {
    position: absolute;
    bottom: 30px;
    right: 35px; }

#sign_in_pitch {
  position: relative;
  float: left;
  width: 645px;
  height: 65px;
  padding-left: 18px;
  border-left: 1px solid white;
  color: white;
  font-size: 14px; }

#category_list .section_heading {
  position: relative;
  float: left;
  width: 100%;
  color: #f8782b;
  font-size: 24px; }

.horizontal_tiles {
  position: relative;
  float: left;
  margin-bottom: 10px; }

.category_list_item {
  position: relative;
  float: left;
  width: 75px;
  padding: 0 10px; }
  .category_list_item .category_image {
    position: relative;
    float: left;
    width: 69px;
    height: 69px;
    border: 3px solid #EEE; }
  .category_list_item .category_name {
    position: relative;
    width: 75px;
    text-align: center;
    color: #666;
    font-weight: bold; }

.category_list_item:active .category_name, .category_list_item:hover .category_name, .category_list_item.selected .category_name {
  color: #F18B3E; }
.category_list_item:active .category_image, .category_list_item:hover .category_image, .category_list_item.selected .category_image {
  border: 3px solid #DDD; }
.category_list_item:active .category_image_inner, .category_list_item:hover .category_image_inner, .category_list_item.selected .category_image_inner {
  position: relative;
  float: left;
  border: 2px solid white;
  width: 65px;
  height: 65px;
  overflow: hidden; }
  .category_list_item:active .category_image_inner img, .category_list_item:hover .category_image_inner img, .category_list_item.selected .category_image_inner img {
    margin-left: -2px;
    margin-top: -2px; }

.category_list_item_wide {
  position: relative;
  float: left;
  width: 101px; }
  .category_list_item_wide .category_image {
    position: relative;
    float: left;
    width: 98px;
    height: 69px;
    overflow: hidden;
    border: 3px solid #F4F4F4;
    border-bottom: none; }

.category_list_item_wide:active, .category_list_item_wide:hover, .category_list_item_wide.selected {
  top: -10px;
  z-index: 10; }
  .category_list_item_wide:active .category_image, .category_list_item_wide:hover .category_image, .category_list_item_wide.selected .category_image {
    border: 3px solid #DDD;
    height: 89px; }
  .category_list_item_wide:active .category_image_inner, .category_list_item_wide:hover .category_image_inner, .category_list_item_wide.selected .category_image_inner {
    position: relative;
    float: left;
    border: 2px solid white;
    width: 94px;
    height: 85px;
    overflow: hidden; }
    .category_list_item_wide:active .category_image_inner img, .category_list_item_wide:hover .category_image_inner img, .category_list_item_wide.selected .category_image_inner img {
      margin-left: -2px;
      margin-top: -2px; }

#category_bar {
  position: relative;
  float: left;
  top: -23px;
  background: url(../images/indexMiddleBarBackground.png);
  background-repeat: repeat-x;
  height: 66px;
  width: 100%; }

#category_bar_content {
  position: absolute;
  bottom: -26px;
  z-index: 20; }
  #category_bar_content #category_button {
    position: relative;
    float: left; }
  #category_bar_content #category_description {
    position: relative;
    float: left;
    padding-left: 20px; }

.auction_index_item_wrapper {
  position: relative;
  float: left;
  margin-right: 18px;
  margin-bottom: 20px;
  background: url(../images/indexBoxActiveItem.png);
  width: 446px;
  height: 150px; }

.auction_index_item_left {
  position: relative;
  float: left;
  margin: 10px 0;
  padding-left: 15px;
  width: 155px; }

.auction_index_item_right {
  position: relative;
  float: left;
  margin: 10px 0;
  padding-left: 20px;
  border-left: 1px solid #dddddd;
  width: 255px; }
  .auction_index_item_right .auction_index_time_left {
    position: relative;
    float: left;
    font-size: 26px;
    color: #56396f;
    margin-right: 15px;
    padding: 5px 0;
    width: 240px;
    border-bottom: 1px solid #dddddd; }
  .auction_index_item_right .auction_index_current_bid {
    position: relative;
    float: left;
    width: 240px;
    margin-right: 15px;
    padding: 6px 0;
    border-bottom: 1px solid #dddddd; }
    .auction_index_item_right .auction_index_current_bid .auction_index_current_price {
      position: relative;
      float: left;
      width: 91px;
      color: #56396f;
      font-size: 18px; }
    .auction_index_item_right .auction_index_current_bid .auction_index_current_bidder {
      padding-top: 4px;
      position: relative;
      float: left;
      width: 149px;
      text-align: right;
      color: #777777;
      font-weight: bold; }
  .auction_index_item_right .auction_index_buttons {
    position: relative;
    float: left;
    padding: 10px 0; }

.auction_detail_top {
  position: relative;
  background: url(../images/detailBoxTopBorder.png);
  height: 88px;
  width: 915px; }
  .auction_detail_top .auction_detail_top_block {
    position: relative;
    float: left;
    margin: 0 9px;
    width: 438px;
    height: 68px;
    background-color: white; }

.auction_detail_content {
  background: url(../images/detailBoxMiddleBackground.jpeg);
  width: 915px; }

.auction_detail_bottom {
  background: url(../images/detailBoxBottomBorder.png);
  height: 2px;
  width: 915px; }

.button_left {
  position: relative;
  float: left;
  width: 8px;
  height: 28px;
  background: url(../images/buttonLeft.png); }

.button_middle {
  position: relative;
  float: left;
  height: 28px;
  padding: 0 10px;
  background: url(../images/buttonMiddle.png);
  background-repeat: repeat-x;
  color: white;
  text-shadow: 0 0 5px #b7541b;
  font-size: 22px;
  cursor: pointer;
  line-height: 28px; }
  .button_middle a {
    display: block;
    position: relative;
    top: 0;
    color: white;
    text-decoration: none;
    text-shadow: 0 0 5px #b7541b;
    font-size: 22px;
    padding: 0;
    margin: 0; }

button.button_middle {
  border: none;
  margin: 0;
  font-size: 22px;
  text-shadow: 0 0 5px #b7541b;
  color: white; }

.button_right {
  position: relative;
  float: left;
  width: 12px;
  height: 28px;
  background: url(../images/buttonRight.png); }

.form_box_top {
  position: relative;
  float: left;
  width: 916px;
  height: 17px;
  background: url(../images/grayBoxTop.png); }

.form_box_middle {
  position: relative;
  float: left;
  width: 846px;
  height: auto;
  padding: 0 35px;
  background: url(../images/grayBoxMiddle.png);
  background-repeat: repeat-y; }

.form_box_bottom {
  position: relative;
  float: left;
  width: 916px;
  height: 16px;
  background: url(../images/grayBoxBottom.png); }

.pull_up {
  margin-top: -5px; }

.short_height {
  height: 5px; }

.text_center {
  text-align: center; }
