<div id="account_background" class="padding_bottom">
  <%= render :partial => 'account_left_nav' %>
  <div id="account_view_content">
    <div id="account_title" class="quackbaq_font purple_font">MY STATUS</div>
    <div class="account_full_width">
      <div id="quack_stars_title"><strong>Quack Stars</strong></div>
      <div id="quack_stars" class="account_settings_box account_gray_background padding_bottom margin_top">
      </div>
    </div>
  </div>
</div>
<div id="account_background_bottom">&nbsp;</div>
