/* ...
*= require_self
*= require_tree .
*/

$purple1: #66497F;
$orange1: #F8782B;
$gray3: #DDD;
$gray6: #AAA;
$gray9: #777;
$gray12: #444;
body.quackbaq {
	background: #6C6C6C url(/assets/background.jpg) no-repeat;
	padding-bottom: 75px;
}
a {
	color: $purple1;
}
input[type="text"],input[type="password"]{
	background-color: #DDDDDD;
	border:none;
}
label {
	color: #666;
}
hr {
	color: #999;
	background-color: #999;
}
[onclick="void(0)"] {
	cursor: pointer;
}
.container.quackbaq {
	margin-top: 50px;
	padding-bottom: 120px;
	position: relative;
}
.container.nav {
	position: relative;
}
#body_bottom {
	position:relative;
	width: 100%;
	height: 75px;
}
#horiz_bar {
	position: relative;
	float: left;
	top: -10px;
	height: 21px;
	z-index: 10;
	background: url('/assets/horiz_bar.png');
	background-repeat: horizontal;
	width: 100%;
}
#account_background {
	position:relative;
	float: left;
	top: -50px;
	left: -10px;
	background: url('/assets/account_background_horiz.png');
	background-repeat: repeat-y;
	width: 932px;
	padding-top: 20px;
	.error {
		position: relative;
		float: left;
		width: 200px;
		margin-left: 34px;
	}
	.section_heading {
		position: relative;
		float: left;
		font-size: 32px;
	}
}
#account_background.sign_up_flow {
	height: 326px;
}
#account_background.payment_form {
}
#account_background_bottom{
	background: url('/assets/account_background_bottom.png');
	width: 932px;
	position:relative;
	float: left;
	top: -50px;
	left: -10px;
}
#account_nav_background {
	position: relative;
	float: left;
	width: 203px;
	background: url('/assets/acct_nav_background_horiz.png');
	background-repeat: repeat-y;
	height: 469px;
}
#account_nav_bottom {
	position: relative;
	float: left;
	background: url('/assets/acct_nav_bottom.png');
	width: 203px;
}
#account_nav_wrapper {
	position: relative;
	float: left;
	width: 203px;
	top: -50px;
	left: -7px;
}
#progress.section_heading {
	font-size: 20px;
}
#account_options {
	padding-top: 14px;
	padding-bottom: 14px;
}
#sign_up_content {
	position: relative;
	float: left;
	width: 83%;
	margin-left: 17%;
}
#account_left_nav {
	position: relative;
	float: left;
	width: 144px;
	height: 240px;
	margin: 20px 20px 40px 20px;
	padding-right: 26px;
	text-align: right;
}
.border_right {
	border-right: 1px solid $gray3;
}
a.account_left_nav {
	text-decoration: none;
	font-size: 20px;
	color: $gray9;
	&.selected {
		color: $orange1;
	}
}
#account_view_content {
	position: relative;
	float: left;
	margin: 12px;
	width: 696px;
}
#account_title {
	position: relative;
	float:left;
	text-align: left;
	font-size: 32px;
	width: 696px;
}
.account_full_width {
	position: relative;
	float:left;
	width: 100%;
}
.payment_box {
	position:relative;
	float: left;
	width: 310px;
	padding-left: 16px;
	#next {
		position:absolute;
		right:0;
		top: 18px;
	}
}
.payment_box_wrapper {
	position:relative;
	float: left;
	width: 326px;
	.minor_section_heading {
		font-weight: bold;
		font-size: 14px;
	}
}
.payment_box_wrapper.left {
	margin-right: 10px
}
.payment_double_box {
	position:relative;
	float: left;
	width: 662px;
}
.payment_form_line {
	position:relative;
	float: left;
	width: 310px;
	padding-top: 14px;
	input[type="text"].field_entry, input[type="text"].field_entry_half, select.field_entry, select.field_entry_half {
		padding-top:0;
		padding-bottom:0;
		margin-top:0;
		margin-bottom:0;
	}
	input[type="text"].field_entry, select.field_entry {
		width: 170px;
	}
	input[type="text"].field_entry_half, select.field_entry_half {
		width: 83px;
	}
}
.payment_form_line.non_text {
	padding: 5px 0;
}
.payment_field_name {
	position:relative;
	float: left;
	width: 120px;
}
.account_settings_box {
	position:relative;
	float: left;
	width: 468px;
	padding-left: 16px;
	.save_settings {
		position:absolute;
		right:0;
		top: 18px;
	}
}
.account_settings_form_line {
	position:relative;
	float: left;
	width: 468px;
	padding-top: 14px;
	input[type="password"].field_entry, input[type="text"].field_entry, input[type="text"].field_entry_half, select.field_entry, select.field_entry_half {
		padding-top:0;
		padding-bottom:0;
		margin-top:0;
		margin-bottom:0;
	}
	input[type="password"].field_entry, input[type="text"].field_entry, select.field_entry {
		width: 232px;
	}
	.form_line_error {
		width: 260px;
	}
}
.account_settings_form_line.non_text {
	padding: 5px 0;
}
.account_settings_field_name {
	position:relative;
	float: left;
	width: 150px;
}
.purple_font {
	color: $purple1;
}
.orange_font {
	color: $orange1;
}
.sign_up_vert_align {
	position: relative;
	float: left;
	height: 165px;
	width: 100%;
}
.sign_up_full_width {
	position:relative;
	float:left;
	width: 600px;
	padding: 10px 0;
}
.account_gray_background {
	position: relative;
	float: left;
	background-color: $gray3;
	color: $gray9;
	font-size: 14px;
}
.white_background {
	background-color:white;
}
.form_background {
	height: 157px;
	width: 475px;
	padding-top: 8px;
}
.form_line {
	width: 90%;
	height: 35px;
	padding-right: 10%;
}
.form_line_error {
	position:absolute;
	left: 85%;
	background-color: #FBE3E4;
	color: #8A1F11;
	border: 1px solid #FBC2C4;
	padding: 0 5px;
}
.field_name {
	position: relative;
	float: left;
	width: 149px;
	height: 20px;
	padding: 8px 17px 7px 0;
	text-align: right;
}
.field_entry, input[type="text"].field_entry, input[type="password"].field_entry, input[type="text"].field_entry_half {
	position: relative;
	float: left;
	width: 236px;
	height: 19px;
	margin: 8px 0;
	background-color: white;
	-webkit-box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, .24);
	-moz-box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, .24);
	box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, .24);
}
.slider_controls {
	position: relative;
	float: left;
	width: 234px;
}
.slider_arrow {
	position: relative;
	float: left;
	width: 23px;
	padding-top: 8px;
}
.slider_arrow.right {
	width: 5px;
}
.slider_mask {
	position:relative;
	float:left;
	overflow:hidden;
	width: 187px;
	height: 35px;
	padding-top: 4px;
	margin-right: 16px;
}
.slider_container {
	position:absolute;
}
.avatar_selectable {
	position:relative;
	float:left;
	border: 1px solid $gray6;
	width: 10px;
	padding: 4px 7px;
	margin-right: 14px;
	text-align: center;
	&.select_area {
		margin-top: 15px;
	}
}
.avatar_selectable.selected {
	border-color: $orange1;
}
#sign_up_next{
	position:absolute;
	height: 28px;
	bottom:0;
	left:508px;
}
#save_settings{
	position:relative;
	float: left;
	height: 28px;
}
#payment_options {
	position:relative;
	float:left;
	margin-right: 20px;
}
#enter_site {
	position:relative;
	float:left;
}
#progress {
	position: relative;
	float: left;
	margin-top: 15px;
	font-size: 24px;
}
#progress_bar {
	position: relative;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}
#flash_notice {
	width: 100%;
	text-align: center;
	background-color: #222222;
	color: #DDDDDD;
}
.top_nav {
	position: relative;
	float: left;
	height: 150px;
	width: 916px;
	margin-right: 34px;
}
.top_logo {
	position: relative;
	float: left;
}
.top_right_nav {
	position: relative;
	float: left;
	height: 100%;
	width: 569px;
}
#footer {
	position: fixed;
	bottom: 0;
	background: url(/assets/footerBackground.jpg);
	background-repeat: repeat-x;
	height: 46px;
	width: 100%;
	color: white;
	font-size: 14px;
	.container {
		margin-top: 10px;
		div.text_links {
			margin-top: 4px;
		}
	}
	a {
		color: white;
	}
}
.quackbaq_font { font-family: KorolevCondensed-Medium; }
#credit_info {
	position: absolute;
	right: 0px;
	top: 45px;
	#credits_left {
		position: relative;
		float: left;
		padding: 1px 10px;
		background: white;
		height: 26px;
		color: #333;
		font-size: 12px;
		font-weight: bold;
		#remaining_credits_amount {
			font-size: 16px;
			color: $purple1;
		}
	}
	#buy_credits_button{
		position: relative;
		float: left;
		margin-left: 5px;
	}
}
#top_nav {
	position:absolute;
	top: 100px;
	right: 0px;
	.top_nav_button {
		position:relative;
		float: left;
		padding: 0px 16px 2px;
		background-color: $purple1;
		a{color: white;text-decoration: none;}
		height: 26px;
		font-family: SteelfishRg-Regular;
		font-size: 20px;
		&.selected {
			background-color: white;
			a{color: $orange1}
		}
	}
	.top_nav_divider {
		position:relative;
		float: left;
		width: 1px;
		height: 26px;
		background-color: white;
	}
}
#category_nav {
	position:relative;
	float: left;
	width: 916px;
	margin-right: 34px;
	z-index: 10;
}
#sign_up_box {
	position: relative;
	float: left;
	background: url(/assets/loginTopBox.png);
	height: 57px;
	width: 846px;
	padding: 30px 35px;
	margin-bottom: 4px;
	.section_heading {
		position: relative;
		float: left;
		width: 182px;
		margin: 8px 0;
		color: white;
		font-size: 26px;
	}
	#sign_up_button {
		position: absolute;
		bottom: 30px;
		right: 35px;
	}
}
#sign_in_pitch{
	position: relative;
	float: left;
	width: 645px;
	height: 65px;
	padding-left: 18px;
	border-left: 1px solid white;
	color: white;
	font-size: 14px;
}
#category_list {
	.section_heading {
		position: relative;
		float: left;
		width: 100%;
		color: $orange1;
		font-size: 24px;
	}
}
.horizontal_tiles {
	position:relative;
	float:left;
	margin-bottom: 10px;
}
.category_list_item {
	position: relative;
	float: left;
	width: 75px;
	padding: 0 10px;
	.category_image {
		position: relative;
		float: left;
		width: 69px;
		height: 69px;
		border: 3px solid #EEE;
	}
	.category_name {
		position: relative;
		width: 75px;
		text-align: center;
		color: #666;
		font-weight: bold;
	}
}
.category_list_item:active, .category_list_item:hover, .category_list_item.selected {
	.category_name{
		color: #F18B3E;
	}
	.category_image {
		border: 3px solid #DDD;
	}
	.category_image_inner {
		position:relative;
		float: left;
		border: 2px solid white;
		width: 65px;
		height: 65px;
		overflow: hidden;
		img {
			margin-left: -2px;
			margin-top: -2px;
		}
	}
}
.category_button_wide {
	position:relative;
	float:left;
	top: 20px;
	width: 101px;
	height: 30px;
	overflow: visible;
}
.category_list_item_wide {
	position: relative;
	float: left;
	width: 101px;
	.category_image {
		position: relative;
		float: left;
		width: 98px;
		height: 69px;
		overflow:hidden;
		border: 3px solid #F4F4F4;
		border-bottom: none;
	}
}
.clickable.category_list_item_wide:active, .clickable.category_list_item_wide:hover, .category_list_item_wide.selected {
	top: -10px;
	z-index: 10;
	.category_image {
		border: 3px solid #DDD;
		height: 89px;
	}
	.category_image_inner {
		position:relative;
		float: left;
		border: 2px solid white;
		width: 94px;
		height: 85px;
		overflow: hidden;
		img {
			margin-left: -2px;
			margin-top: -2px;
		}
	}
}
#category_bar {
	position: relative;
	float: left;
	top: -23px;
	background: url(/assets/indexMiddleBarBackground.png);
	background-repeat: repeat-x;
	height: 66px;
	width: 100%;
}
#category_bar_content {
	position:absolute;
	bottom: -26px;
	z-index: 20;
	#category_button, .category_button {
		position: relative;
		float: left;
		height: 30px;
	}
	#category_description {
		position:relative;
		float:left;
		padding-left: 20px;
	}
}
.auction_index_item_wrapper {
	position:relative;
	float:left;
	margin-right: 18px;
	margin-bottom: 20px;
	background: url(/assets/indexBoxActiveItem.png);
	width: 446px;
	height: 150px;
	&.full_width {
		width: 907px;
	}
}
.auction_index_item_left {
	position:relative;
	float:left;
	margin: 10px 0;
	padding-left: 15px;
	width: 155px;
	&.full_width {
		width: 325px;
	}
}
.auction_index_item_right {
	position:relative;
	float:left;
	margin: 10px 0;
	padding-left: 20px;
	border-left: 1px solid $gray3;
	width: 255px;
	&.full_width {
		width: 525px;
	}
	.auction_index_time {
		position: relative;
		float: left;
		margin-right: 15px;
		width: 240px;
		padding-bottom: 5px;
		border-bottom: 1px solid $gray3;
		.auction_index_time_left {
			position: relative;
			float: left;
			font-size: 26px;
			color: $purple1;
			width: 160px;
		}
		.auction_index_timer_icon {
			position:relative;
			float:left;
			width: 80px;
			top: 8px;
		}
	}
	.auction_index_current_bid {
		position:relative;
		float:left;
		width: 240px;
		margin-right: 15px;
		padding: 6px 0;
		border-bottom: 1px solid $gray3;
		.auction_index_current_price {
			position:relative;
			float:left;
			width: 91px;
			color: $purple1;
			font-size: 18px;
		}
		.auction_index_current_bidder {
			padding-top: 4px;
			position:relative;
			float:left;
			width: 149px;
			text-align: right;
			color: $gray9;
			font-weight: bold;
		}
	}
	.auction_index_buttons {
		position:relative;
		float:left;
		width: 240px;
		padding: 13px 0 3px;
		.auction_index_mine {
			position:absolute;
			right: 0;
		}
	}
}
.auction_detail_top {
	position:relative;
	background: url(/assets/detailBoxTopBorder.png);
	padding-left: 1px;
	height: 88px;
	width: 914px;
	.auction_detail_top_block {
		position: relative;
		float: left;
		top: -5px;
		margin: 0 9px;
		padding: 5px;
		width: 428px;
		height: 58px;
		background-color: white;
	}
}
.auction_detail_content {
	position: relative;
	float:left;
	background: url(/assets/detailBoxMiddleBackground.jpeg);
	padding:18px;
	width: 879px;
	text-align: center;
	.auction_detail_left{
		position: relative;
		float:left;
		width: 349px;
		.auction_detail_name {
			font-size: 20px;
			font-weight: bold;
		}
		.auction_detail_retail {
			font-style: italic;
		}
		.auction_detail_id {
			text-decoration: underline;
			color: $purple1;
			font-size: 16px;
		}
		img {
			margin-top: 5px;
		}
		.auction_detail_thumbs {
			position:relative;
			float:left;
			height: 95px;
			width: 329px;
			overflow: hidden;
			.auction_detail_thumb_bucket{
				position: absolute;
				left: 0;
				top: 10px;
				img{
					position:relative;
					float:left;
					margin-right: 10px;
				}
			}
		}
		.auction_detail_description {
			position:relative;
			float:left;
			width:329px;
			text-align: left;
		}
	}
	.auction_detail_middle {
		position: relative;
		float: left;
		width: 255px;
		padding: 10px 5px;
		border-left: 1px solid $gray3;
		border-right: 1px solid $gray3;
		text-align: left;
		.auction_current_info {
			position:relative;
			float:left;
			width:255px;
			padding-bottom: 10px;
			border-bottom: 1px solid $gray3;
			#timer {
				position:relative;
				float:left;
				width: 255px;
				height: 26px;
				margin-bottom: 16px;
				#time_left{
					padding-left: 10px;
					color: $purple1;
					font-size: 26px;
					font-weight: bold;
					line-height: 26px;
				}
				#timer_type {
					position:absolute;
					right:10px;
					top:2px;
				}
			}
			.auction_detail_bid{
				position:relative;
				float: left;
				left: 50%;
				margin-bottom: 14px;
				.auction_detail_bid_content {
					position:relative;
					float:left;
					left: -50%;
					.button_middle {
						width: 85px;
						text-align: center;
					}
				}
			}
			#current_price {
				position:relative;
				float:left;
				width: 255px;
				text-align: center;
				color: $purple1;
				font-size: 22px;
				font-weight: bold;
			}
			#icons_and_bidder {
				position:relative;
				float:left;
				width: 255px;
				#hand_duck{
					position:relative;
					float:left;
					width: 45px;
					padding-left: 5px;
				}
				#highest_bidder{
					position:relative;
					float:left;
					width: 155px;
					text-align: center;
				}
				#duck_foot{
					position:relative;
					float:left;
					width: 40px;
					padding-right: 10px;
					text-align:right;
				}
			}
		}
		.auction_detail_auto_bid {
			position:relative;
			float:left;
			padding-top: 24px;
			.auto_bid_block {
				position:relative;
				float:left;
				background-color: $gray3;
				margin-bottom: 16px;
				padding: 5px;
				.auto_bid_title {
					position:relative;
					float:left;
					width: 245px;
					font-size: 14px;
					font-weight: bold;
					color: $gray12;
					margin-bottom: 10px;
					.auto_bid_help {
						position: absolute;
						right: 0;
						top: 0;
						font-size: 12px;
						font-weight: normal;
					}
				}
			}
		}
	}
	.auction_detail_right {
		position: relative;
		float: left;
		width: 263px;
		height: 416px;
	}
}
.auction_detail_bottom {
	background: url(/assets/detailBoxBottomBorder.png);
	height: 2px;
	width: 915px;
}
#my_auction_title {
	position:relative;
	float:left;
	left: 16px;
}
#my_auction_list {
	position:absolute;
	left: 213px;
	top: 50px;
}
.my_auction_index_item_wrapper {
	position:relative;
	float:left;
	margin-right: 18px;
	background: url(/assets/my_auctions_background_horiz.png);
	width: 706px;
	height: 75px;
}
.my_auction_index_item_left {
	position:relative;
	float:left;
	width: 300px;
}
.my_auction_index_item_name, .my_auction_index_item_retail, .my_auction_index_item_image {
	position:relative;
	float:left;
	width: 134px;
	padding-left: 16px;
}
.my_auction_index_item_name {
	font-size: 18px;
}
.my_auction_index_item_retail {
	font-size: 14px;
	color: $gray9;
}
.my_auction_index_item_middle {
	position:relative;
	float:left;
	width: 210px;
	padding-left: 16px;
}
.my_auction_index_time {
	position:relative;
	float:left;
	font-size: 24px;
	border-bottom: 1px solid $gray3;
	width: 190px;
}
.my_auction_index_time_left, .my_auction_index_timer_icon {
	position:relative;
	float:left;
}
.my_auction_index_time_left {
	width: 125px;
}
.my_auction_index_timer_icon {
	width: 65px;
}
.my_auction_index_current_bid {
	position:relative;
	float:left;
	width: 300px;
}
.my_auction_index_current_price {
	position: relative;
	float: left;
	width: 80px;
	font-size: 20px;
	padding-top: 10px;
}
.my_auction_index_current_bidder {
	position: relative;
	float: left;
	width: 110px;
	font-weight: bold;
	color: $gray9;
}
.my_auction_highest_bidder_avatar{
	position: relative;
	float: left;
	top: 5px;
	width: 25px;
	font-size: 24px;
	color: $gray12;
}
.my_auction_highest_bidder_name{
	position: relative;
	float: left;
	width: 85px;
	padding-top: 16px;
	font-size: 14px;
}
.my_auction_index_item_right{
	position: relative;
	float:left;
	width: 170px;
}
.my_auction_index_buttons{
	position: relative;
	float: left;
	width: 156px;
	padding-left: 14px;
}
.my_auction_index_remove{
	position: relative;
	float: left;
	width: 170px;
	height: 22px;
}
.my_auction_index_remove_button{
	position:absolute;
	right: 7px;
	top: -4px;
	width: 14px;
	height: 14px;
	color: $gray9;
	font-size: 22px;
	text-align: center;
	border: 1px solid $gray9;
}
.my_auction_index_remove_character{
	position: absolute;
	top: -11px;
}
.my_auction_index_item_bottom, .my_auction_index_item_top {
	position:relative;
	float:left;
	height: 20px;
	width: 703px;
}
.my_auction_index_item_top {
	background: url(/assets/my_auctions_top.png);
}
.my_auction_index_item_bottom {
	background: url(/assets/my_auctions_bottom.png);
	margin-bottom: 20px;
}
#bid_history{
	padding-left: 10px;
}
#bid_history_content{
	position: relative;
	float: left;
	margin: 12px;
	width: 619px;
}
#my_auction_title_wrapper {
	position:relative;
	float:left;
	width:100%;
}
#my_bid_history_title {
	position:relative;
	float:left;
}
#my_bid_history_tabs {
	position:relative;
	float:left;
}
.my_bid_history_tab {
	margin-right: 7px;
	position:relative;
	float:left;
	color: $gray9;
	background-color: $gray3;
	font-weight: bold;
	font-size: 14px;
	width: 150px;
	height: 28px;
}
.my_bid_history_tab_liner {
	position:relative;
	left: 2px;
	top: 2px;
	padding: 4px 10px 0 10px;
	width: 126px;
	height: 26px;
	text-align: center;
}
#my_bid_history_list {
	position: relative;
	float: left;
	background-color: $gray3;
	color: $gray9;
	font-size: 14px;
	padding-left: 18px;
}
.bid_history_item{
	position: relative;
	float: left;
	width: 253px;
	border-bottom: solid 1px $gray9;
	.bid_history_text {
		position: relative;
		float: left;
		width: 200px;
		color: $gray9;
		padding: 10px 5px;
		.bid_history_amount {
			position: relative;
			float: left;
			width: 60px;
			text-align: left;
		}
		.bid_history_name {
			position: relative;
			float: left;
			width: 140px;
			text-align: right;
		}
	}
	.bid_history_text.current {
		background-color: $purple1;
		color: white;
	}
	.bid_history_image {
		position: relative;
		float: left;
		width: 53px;
	}
}
.bid_history_item.current {
	border-bottom: none;
}
.bid_history_item_wrapper {
	position:relative;
	float:left;
	background: url(/assets/bid_history_item_horiz.png);
	width: 579px;
	height: 75px;
}
.bid_history_item_bottom, .bid_history_item_top {
	position:relative;
	float:left;
	height: 20px;
	width: 579px;
}
.bid_history_item_bottom {
	background: url(/assets/bid_history_item_bottom.png);
	margin-bottom: 20px;
}
.bid_history_item_top {
	background: url(/assets/bid_history_item_top.png);
}
.bid_history_info {
	padding-left: 10px;
	position:relative;
	float:left;
	width: 260px;
}
.bid_history_info,.bid_history_info_item {
	position:relative;
	float:left;
	width: 250px;
	line-height: 1.8;
}
.bid_history_info_label {
	position: relative;
	float:left;
	width: 105px;
	text-align: left;
	font-weight: bold;
	color: $gray9;
}
.bid_history_info_value {
	position: relative;
	float:left;
	width: 140px;
	text-align: right;
	font-weight: bold;
	color: $gray9;
}
.bid_history_spinner {
	position:relative;
	float:left;
	padding: 20px;
	height: 40px;
	width: 530px;
	text-align: center;
}
#bid_location_map{
	position: absolute;
	bottom: 0;
	#bid_location_map_title {
		position: relative;
		float: left;
		width: 100%;
		margin-bottom: 16px;
		text-align: left;
		color: $purple1;
		font-weight: bold;
	}
	padding-left: 8px;
}
.button_left {
	position: relative;
	float: left;
	width: 8px;
	height: 28px;
	background: url(/assets/buttonLeft.png);
}
.button_middle {
	position: relative;
	float: left;
	height: 28px;
	padding: 0 10px;
	background: url(/assets/buttonMiddle.png);
	background-repeat: repeat-x;
	color: white;
	text-shadow: 0 0 5px rgba(183,84,27,1);
	font-size: 22px;
	cursor: pointer;
	line-height: 28px;
	a {
		display: block;
		position: relative;
		top: 0;
		color: white;
		text-decoration: none;
		text-shadow: 0 0 5px rgba(183,84,27,1);
		font-size: 22px;
		padding: 0;
		margin: 0;
	}
}
button.button_middle {
	border: none;
	margin: 0;
	font-size: 22px;
	text-shadow: 0 0 5px rgba(183,84,27,1);
	color: white;
}
.button_right {
	position: relative;
	float: left;
	width: 12px;
	height: 28px;
	background: url(/assets/buttonRight.png);
}
.button_height {
	height: 29px;
}
.form_box_top {
	position: relative;
	float: left;
	width: 916px;
	height: 17px;
	background: url(/assets/grayBoxTop.png)
}
.form_box_middle {
	position: relative;
	float: left;
	width: 846px;
	height: auto;
	padding: 0 35px;
	background: url(/assets/grayBoxMiddle.png);
	background-repeat: repeat-y;
}
.form_box_bottom {
	position: relative;
	float: left;
	width: 916px;
	height: 16px;
	background: url(/assets/grayBoxBottom.png)
}
.pull_up {
	margin-top: -5px;
}
.short_height {
	height: 5px;
}
.content_border_bottom {
	padding-bottom: 16px;
	margin-bottom: 16px;
	border-bottom: 1px solid $gray3;
}
.text_center {
	text-align: center;
}
.centering_wrapper {
	position:relative;
	float:left;
	left: 50%;
}
.centering_inner {
	position:relative;
	left: -50%;
}
.shrink_wrap {
	position: relative;
	float:left;
}
.padding_bottom {
	padding-bottom: 10px;
}
.margin_top {
	margin-top: 10px;
}