<!-- All Code Copyright 2008 Eric Draut all rights reserved -->
<% content_element = arrange_image %>
<li id="content_element_<%= content_element.id %>" class="sortable"><%= image_tag content_element.image.url(:small_thumb) %></li>
