<!-- All Code Copyright 2008 Eric Draut all rights reserved -->
<% content_element = show_video %>
<div class="content_element_content">
	<div>
		<%= content_element.embed_html(270) %>
	</div>
	<div>
		<%= content_element.body %>
	</div>
</div>
<div class="content_element_controls">
<%= link_to 'edit', edit_admin_area_content_element_url(content_element),
	:'data-ajax_behavior' => 'ajax_link',
	:'data-ajax_method' => 'GET',
	:'data-ajax_success_element' => "content_element_#{content_element.id}",
	:'data-ajax_success_callback' => "jQuery('#content_element_#{content_element.id}').addClass('editing');" %>
<%= link_to image_tag('delete_can.png'), admin_area_content_element_url(content_element),
	:'data-ajax_behavior' => 'ajax_link',
	:'data-ajax_method' => 'DELETE',
	:'data-ajax_success_callback' => "jQuery('#content_element_#{content_element.id}').remove();",
	:'data-ajax_confirm' => 'Are you sure you want to delete this video?' %>
</div>
